env/
steps
DB/
model_and _weight/
web_site/
key
key.pub
bfg-1.14.0.jar

# Ignorer le répertoire sensor_data
sensor_api/

# Ignorer les xlsx de transform data
IM/data_engineering/Transform_data/*.xlsx

