# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# IDE
.idea/
.vscode/

# Project specific
Step.xlsx
project_structure.md
project_structure.py
IA/
data/raw/
data_engineering/Step2.md
Step2

# Virtual Environment
venv/
ENV/

# Misc
.DS_Store
*.log

# Old content
steps
DB/
model_and _weight/
web_site/
key
key.pub
bfg-1.14.0.jar

IM/data_engineering/Transform_data/Step.md
IM/data_engineering/Transform_data/Step.txt
# Ignorer le répertoire sensor_data
sensor_api/

# Ignorer les xlsx de transform data
IM/data_engineering/Transform_data/*.xlsx
IM/data_engineering/Transform_data/*.txt